<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="icon" href="images/admin-user-icon.png">
    <link rel="stylesheet" href="css/element.css">
    <link rel="stylesheet" href="css/admincustomer.css">
</head>
<style>
</style>
<body>
<div id="app">
    <div class="header">
        <div>
            <img src="images/logo2.png" width="50px">
        </div>
        <div>
            <!--<h2>管理用户页面</h2>-->
            <!--<el-button type="primary" round @click="handleAdd">新增用户</el-button>-->
        </div>
        <div>
            <img src="images/logo1.png">
        </div>
    </div>
    <div class="adCustomerTop">
        <el-menu
                :default-active="activeIndex2"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1">用户处理中心</el-menu-item>
            <el-submenu index="2">
                <template slot="title">我的工作台</template>
                <el-menu-item index="2-1">选项1</el-menu-item>
                <el-menu-item index="2-2">选项2</el-menu-item>
                <el-menu-item index="2-3">选项3</el-menu-item>
                <el-submenu index="2-4">
                    <template slot="title">选项4</template>
                    <el-menu-item index="2-4-1">选项1</el-menu-item>
                    <el-menu-item index="2-4-2">选项2</el-menu-item>
                    <el-menu-item index="2-4-3">选项3</el-menu-item>
                </el-submenu>
            </el-submenu>
            <el-menu-item index="3" >用户消息</el-menu-item>
            <el-menu-item index="4"><a @Click="returnLogin">退出</a></el-menu-item>
        </el-menu>
    </div>
    <div class="main">
        <div class="zj-left">
            <!--左边导航条-->
            <el-menu
                    default-active="2"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-location"></i>
                        <span>导航一</span>
                    </template>
                    <el-menu-item-group>
                        <template slot="title">分组一</template>
                        <el-menu-item index="1-1">选项1</el-menu-item>
                        <el-menu-item index="1-2">选项2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                        <el-menu-item index="1-3">选项3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="1-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="1-4-1">选项1</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-menu-item index="2">
                    <i class="el-icon-menu"></i>
                    <span slot="title">导航二</span>
                </el-menu-item>
                <el-menu-item index="3" >
                    <i class="el-icon-document"></i>
                    <span slot="title"  @click="handleAdd">新增用户</span>
                </el-menu-item>
                <el-menu-item index="4">
                    <i class="el-icon-setting"></i>
                    <span slot="title" @click="comeBackAdmin">返回管理员页面</span>
                </el-menu-item>
            </el-menu>
        </div>
        <div class="zj">
            <el-table :data="tableDate" border style="width: 45%" class="index" >
                <el-table-column prop="" label="头像" width="80" size="small">
                    <template slot-scope="scope">
                        <el-button type="info" icon="el-icon-user-solid" circle size="small" align="center"></el-button>
                    </template>
                </el-table-column>
            <el-table-column prop="id"       label="编号" width="150" align="center"></el-table-column>
            <el-table-column prop="username" label="姓名" width="180" align="center"></el-table-column>
            <el-table-column prop="password" label="密码" width="180" align="center"></el-table-column>
            <el-table-column prop="checkpass" label="二次密码" width="180" align="center"></el-table-column>
            <el-table-column fixed="right"   label="操作" align="center" width="180">
            <template slot-scope="scope">
                <el-button type="warning" size="small" @click="handleEdit(scope.row)" align="center">编辑</el-button>
                <el-button type="success" size="small" @click="handleDelete(scope.row.id)" align="center">删除</el-button>
            </template>
            </el-table-column>
            </el-table>
        </div>
        <div class="zj-right">

        </div>
    </div>
    <div class="footer">
        <!--<p>关于"面经"面试网―合作伙伴﹐营销中心廉正举报﹒</p>-->
        <!--<p>联系客服开放平台―诚征英才﹐联系我们网站地图隐私权政策法律声明﹐</p>-->
        <!--<p>知识产权增值电信业务经营许可证:浙B2-20080224 增值电信业务经营许可证(跨地区)∶B2-20150210│浙网文(2019) 1033-086号│浙江</p>-->
        <el-link href="#" target="_blank">关于"面经"面试网</el-link>
        <el-link type="primary">服务条款</el-link>
        <el-link type="success">隐私政策</el-link>
        <el-link type="warning">客服中心</el-link>
        <el-link type="danger">联系我们</el-link>
        <el-link type="info">帮助中心</el-link>
    </div>
    <!--弹窗-->
    <el-dialog
            title="用户信息"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
        <span></span>
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="编号">
                <el-input v-model="form.id"></el-input>
            </el-form-item>
            <el-form-item label="用户名称">
                <el-input v-model="form.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="form.password"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="confirmForm">确 定</el-button>
  </span>
    </el-dialog>
</div>
<script src="js/vue.js"></script>
<script src="js/element.js"></script>
<script src="js/axios.min.js"></script>
<script >
    axios.default.baseURI="http://localhost:8080";
    let app = new  Vue({
        el: "#app",
        data:{
            tableDate:[],
            dialogVisible:false,//默认不显示
            form:{//表单实体
            },
            isEdit:false,//新增false,修改true
        },
        methods:{
            //返回登入页面
            returnLogin(){
                axios.get("/loginOut")
                    .then(resp=>{
                        window.location.href="login.html";
                    })
                    .catch(err=>{
                        console.log(err)
                    })
            },
            comeBackAdmin(){
                location="admin.html"
            },
            handleClick(row) {
                console.log(row);
            },
            //删除用户
            handleDelete(id){
                this.$confirm('是否删除用户信息?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("/deleteCustomerById/"+id)
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    window.location.reload();
                }).catch(() => {
                        this.$message({
                                type: 'info',
                                message: '已取消删除'
                        });
                });
                //     .then(()=>{
                //         this.$message({
                //             showClose: true,
                //             message: '删除成功',
                //             type: 'success'
                //         });
                //         //刷新页面
                //         location.reload();
                //     })
                //     .catch(err =>{
                //         this.$message({
                //             showClose: true,
                //             message: '删除失败',
                //             type: 'error'
                //         });
                //     })
                // console.log(err)
            },
            //修改用户，弹出提示框
            handleEdit(row){
                console.log(row);
                //显示表单
                this.dialogVisible=true;
                //清空表单
                this.form ={
                    id:row.id,
                    username:row.username,
                    password:row.password
                };
                //修改isEdit=true;
                this.isEdit=true;
            },
            //添加新的用户
            handleAdd(){
              //显示表单
                this.dialogVisible=true;
                //清空表单
                this.form={};
                //新增，修改isEdit=false;
                this.isEdit=false;
            },
            //点击事件
            confirmForm(){
                //判断添加还是修改
                if (this.isEdit){//isEdit=true,修改
                    axios.put("/updateCustomer",this.form)
                        .then(()=>{
                            //隐藏表单
                            this.dialogVisible=false;
                            this.$message({
                                showClose: true,
                                message: '修改成功',
                                type: 'success'
                            });
                            //刷新页面
                            // window.location.reload();
                             //this.reload();
                        })
                        .catch(err=>{
                            this.$message({
                                showClose: true,
                                message: '修改失败',
                                type: 'error'
                            });
                            console.log(err)
                        })
                }else {//isEdit=false,添加
                    axios.post("/addCustomer",this.form)
                        .then(()=>{
                            //隐藏表单
                            this.dialogVisible=false;
                            this.$message({
                                showClose: true,
                                message: '添加成功',
                                type: 'success'
                            });
                            // window.location.reload();
                        })
                        .catch(err=>{
                            this.$message({
                                showClose: true,
                                message: '添加失败',
                                type: 'error'
                            });
                            console.log(err)
                        })
                   // this.$forceUpdate();
                }
            }
        },
        created () {
            // 查询所有用户信息
            axios.post("/findCustomerAll")
                .then(resp => {
                    this.tableDate = resp.data
                })
                .catch(err =>{
                })
            this.queryByPage(1, this.size);
        }
    })

</script>
</body>
</html>